header .navbar-inner {
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}

#login-form .dropdown-menu {
    width: 280px;
}

#login-form form {
    margin: 10px;
}

.alert ul {
    margin: 0;
    list-style-type: none;
}