<form action="{{ path('wormsite_subscription_submit', {'id': subscription.worm.id, 'pos': subscription.position}) }}" method="post" class="submit-form" enctype="multipart/form-data">
    <input type="file" name="image"/>
    <button type="submit" class="btn btn-primary">
        <i class="icon-upload icon-white"></i>
        Submit
    </button>
</form>
