<form action="{{ path('wormsite_worm_submit', {'id': worm.id}) }}" method="post" enctype="multipart/form-data">
    <input type="file" name="image" />
    <button type="submit">Submit</button>
</form>