<form action="{{ path('wormsite_subscription_withdraw', {'id': subscription.worm.id, 'pos': subscription.position}) }}" method="post" class="withdraw-form">
    <button type="submit" class="btn btn-danger">
        <i class="icon-leaf icon-white"></i>
        Withdraw
    </button>
</form>