{% extends '::base.html.twig' %}

{% block title %}Worm{% endblock %}

{% block stylesheets %}
    {% stylesheets filter='cssrewrite'
    'bundles/wormsite/bootstrap/css/bootstrap.min.css'
    'bundles/wormsite/bootstrap/css/bootstrap-responsive.min.css'
    'bundles/wormsite/css/*' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    'bundles/wormsite/js/vendors/jquery.min.js'
    'bundles/wormsite/bootstrap/js/bootstrap.min.js'
    'bundles/wormsite/js/worm.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <header class="navbar">
        {% include 'WormSiteBundle:Snippets:_navbar.html.twig' with {'title': block('title')} %}
        {% block info %}{% endblock %}
    </header>

    {% block flashes %}
        {% if app.session.flashBag.peekAll|length > 0 %}
            <div class="alerts">
                {% for type, messages in app.session.flashBag %}
                    <div class="alert alert-{{ type }}">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        <ul>
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    {% endblock %}

    <div class="container {% block container_class %}{% endblock %}">
        {% block container %}
        {% endblock %}
    </div>

    <footer>

    </footer>
{% endblock %}